.thumbnail .caption-full {
    padding: 9px;
}

.welcome_h {
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.welcome_h > .row > div h1:first-child {
  font-size: 400%;
}

.welcome_h > div.row div:first-child {
  max-width: 100%;
}

.welcome_h > div.row div:last-child {
  opacity: 1;
  max-width: 100%;
  transition: opacity 2s;
  -ms-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

@media only screen and (max-width: 992px) {
  .welcome_h > div.row div:first-child {
    width: 100%;
  }
  
  .welcome_h > div.row div:last-child {
    opacity: 0;
    max-width: 0px;
  }
}

.img-responsive {
    width: 100%;
}

body {
  padding-top: 70px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail {
    padding: 0;
}

#more_info {
    margin-left: 5px;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

.resume-heading .social-btns{
  margin-top:15px;
}


.resume-heading .social-btn-holder{
  padding:5px;
}


/*social buttons*/
.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
  opacity:1;
}

.btn-facebook {
background-color: #3b5998;
opacity:0.9;
}

.btn-linkedin {
background-color:#0e76a8;
opacity:0.9;
}

.btn-lattes {
background-color:#7a7a7a;
opacity:0.9;
}

.btn-github{
  background-color:#000000;
  opacity:0.9;
}

.show_info {
  max-height: 0;
  opacity: 0;
  transition: opacity 1s, max-height 1s;
  -ms-transition: opacity 1s, max-height 1s;
  -moz-transition: opacity 1s, max-height 1s;
  -webkit-transition: opacity 1s, max-height 1s;
}

.show_info.show {
  opacity: 1;
  max-height: 100em;
  transition: opacity 2s, max-height 1s;
  -ms-transition: opacity 2s, max-height 1s;
  -moz-transition: opacity 2s, max-height 1s;
  -webkit-transition: opacity 2s, max-height 1s;
}

.show_to_delete:hover {
  background-color: rgba(255, 0 , 0, 0.7) !important;
  transition: background-color 0.5s;
}

.show_to_delete {
  background-color: lightgreen !important;
  color: green !important;
}

.bg-profile-container {
  position: relative;
}

.bg-profile-container .overground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  margin: auto;
  color: #FFF;
}

.bg-profile-container:hover .overground {
  display: block;
  background: url(../images/image.png);
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.custom_link {
  padding: 1px 3px;
  background-color: white;
  border: 2px solid #60b0ff;
  border-radius: 5px;
  color: #60b0ff;
  cursor: pointer;
}

.custom_link:hover {
  background-color: lightblue;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.center_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide_content {
  display: none;
}

.container.main {
  background-color: white;
  box-shadow: 0px 0px 9px gray;
  padding: 10px 5px;
  border-radius: 5px;
}

#navbar_top {
  box-shadow: 0px 0px 5px gray;
}

.login_register {
  text-align: center;
}

#navbar_top a , .login_register {
  color: #2e6da4;
}

#bg_option {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

#bg_option i{
  font-size: 40px;
  color: black;
}

/* SLIDER OF SHOW PAGE*/

#show_left, #show_right {
  position: absolute;
  top: 45%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
}

#show_left:hover, #show_right:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

#show_left > i, #show_right > i{
  vertical-align: middle;
}

#show_left {
  left: 5px;
}
#show_right {
  right: 5px;
}

#img_slider {
  box-shadow: 0px 1px 10px lightgrey;
}

.show_info_slider.show_slider {
    opacity: 1;
    max-height: 100em;
}

.show_info_slider {
    max-height: 0;
    transition: max-height 1s;
    -ms-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -webkit-transition: max-height 1s;
}

div img {
    width: 200px;
}

/* SLIDER OF SHOW PAGE*/
