
#features_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.p-0 {
	padding: 0;
}

#hide_btn {
	width: 36px;
    height: 36px;
    margin: 20px 0px 10px 7px;
    padding: 8px;
    font-size: 20px;
    background: #d9534f;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

#header_fl {
	background: #2980b9;
	padding: 10px 20px;
	font-size: 15px !important;
	text-align: center;
	color: white !important;
	border-radius: 30px;
}

#features_list > li {
	line-height: 40px;
	height: 40px;
	color: white;
	border-radius: 5px;
}

li.item {
	background: #4290c4;
}

li.sub_item {
	background: #83badf;
}

span.sp_fl {
	text-align: center;
	display: inline-block;
}

span.hf_angle {
	width: 20px;
	transition: 0.2s linear;
}

li:hover span.hf_angle {
	margin-left: -20px;
}

span.hf_plus {
	width: 40px;
	color: white;
	float: right;
}

span.hf_trash {
	margin-right: 20px;
	background: #e74c3c;
	color: white;
	transition: 0.2s linear;
	opacity: 0;
	width: 0;
}

li:hover span.hf_trash {
	width: 40px;
	opacity: 1.0;
}

input.in_fl {
	color: #2980b9 !important;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input.in_fl:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}