.modal, .n_img_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.5);
    display: block;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 44rem;
    border-radius: 0.5rem;
}
.close-button, .n_img_close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover , .n_img_close-button:hover{
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
    color: red;
}

/* model to new image */

#n_img_option, #rm_img_option {
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    font-size: 20px;
}

#n_img_option {
    color: #007dc0;
    right: 1%;
}

#rm_img_option {
    color: #d41d00;
    right: 4%;
}

/* model to new image */