<% include ./header %>

<div class="row">
    <h1 class="w-100 text-center mt-5">Produzir Notificação!</h1>
    
    <div style="width: 30%; margin: 25px auto;">
        <form action="/produce" method="POST">
            <div class="form-group">
                <input class="form-control" placeholder="texto da notificação" name="notification" type="text">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit!</button>
            </div>
        </form>
    </div>
    
    <% if(result) { %>
        <div class="col-12 text-center text-success">Notificação enviada com sucesso!</div>
    <% } %>

    <div class="col-12 text-center font-weight-bold">Elementos na Lista:</div>
    <% if(list && list.length > 0) { %>
        <ul class="col-3 mx-auto list-inline">
            <% list.forEach(n => { %>
                <li class="text-center font-weight-bold text-success border-top"><%= n %></li>
            <% }) %>
        </ul>
    <% }else{ %>
        <p class="col-3 text-center mx-auto text-danger">
            Ainda não há elementos na lista! <br> 
            (aperte F5 para atualizar a lista)
        </p>
    <% } %>
</div>

<% include ./footer %>